.me-overlay-container {
  background-color: rgba(5, 145, 115, 0.85);
  height:100%;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.me-overlay { background-position: center; }

.me-overlay-content {
  color: #fff;
  font-family: helvetica, arial, verdana;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.me-overlay h1 { margin-bottom: 20px; }
.me-overlay h2 { display: inline-block; }

.save-button {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: #f5610b;
  border-color: #f5610b;
  border-radius: 28px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 17px;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
}

.continue-button {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 28px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 17px;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
}

.important-text { background-color: #f5610b; }

.me-overlay h1 { display: inline-block; }
